@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;
    }

/* -----Hero----- */

    .hero {
        width: 1158px;
        max-width: 1158px;
        height: 600px;
        padding: 188px 0px;
    }

    .hero-title {
        width: 494px;
        max-width: 494px;
        text-align: center;
        white-space: normal;
        color: var(--white-color);
        display: block;
        margin: 0px auto 48px;
    }

/* -----Advantages----- */

}