@media screen and (min-width: 1200px) {
    .section {
        max-width: 1158px;
        padding: 120px 0px;
    }

    .container {
        max-width: 1158px;
        padding: 0 15px;
    }

    .container.team-container {
        max-width: 100%;
    }

    .container.customers-container {
        max-width: 100%;
    }

    /* -----Header----- */
    .header-section {
        max-width: 1158px;
        border-bottom: 1px solid var(--accent-color);
        padding: 0;
    }

    .header-logo {
        margin-right: 76px;
    }

    .nav {
        margin-right: 332px;
        align-items: baseline;
    }

    .nav-list {
        margin: 0;
        ;
    }

    .nav-link {
        padding: 24px 0 28px;
    }

    .address-list {
        gap: 40px;
    }

    .address-link {
        font-size: 16px;
        line-height: calc(24 / 16);
        letter-spacing: 0.02em;
    }

    /* -----Hero----- */

    .hero {
        width: 1158px;
        max-width: 1158px;
        height: 600px;
        padding: 188px 0px;
    }

    .hero-title {
        text-align: center;
        white-space: normal;
        margin: 0px auto 48px;
    }

    /* -----Advantages----- */

    .advantages-item {
        width: calc((100% - 72px) / 4);
    }

    .advantages-image {
        display: flex;
        padding: 24px;
        justify-content: center;
        align-items: center;
        background-color: var(--light-color);
        border-radius: 4px;
        margin-bottom: 8px;
    }

    .advantages-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: calc(24 / 20);
        text-align: start;
    }

    .advantages-text {
        font-weight: 400;
    }

    /* -----We doing----- */

    .we-doing {
        padding-top: 0;
        display: block;
    }

    .we-doing-list {
        display: flex;
        gap: 24px;
    }

    .we-doing-item {
        flex-basis: calc((100% - 48px) / 3);
    }

    /* -----Our Team----- */

    .team {
        padding: 120px 0;
    }

    .team-list {
        gap: 24px;
    }

    .team-item {
        width: calc((100% - 72px) / 4);
    }

    /* -----Customers----- */

    .customers-item {
        width: calc((100% - 120px) / 6);
    }


    /* -----Footer----- */

    .footer-section {
        padding: 100px 0px;
    }

    .footer-columns {
        gap: 0;
    }

    .footer-left-column {
        margin-right: 120px;
    }

    .footer-center-column {
        margin-right: 80px;
    }

}