@media (min-width: 429px) and (max-width: 768px) {
    .hero {
        background-image: var(--bg-hero-gradient), url(../images/main/hero-bg-tablet.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: var(--bg-hero-gradient), url(../images/main/hero-bg-tablet-2x.jpg);
        }
    }
}

@media (min-width: 480px) {
    .container {
        max-width: 428px;
    }

    /* -----Header----- */
    .hamburger-tel-link {
        font-size: 33px;
    }

    -----Header----- */
    /* -----Hero----- */

    .hero-title {
        width: 318px;
        max-width: 318px;
        height: 80px;
    }

    /* -----Advantages----- */
    /* -----We doing----- */
    /* -----Our Team----- */
    /* -----Customers----- */
    /* -----Gallery----- */
    /* -----Footer----- */

    /*-----Modal window-----*/
    .modal {
        width: 392px;
        height: 586px;
    }
}