@media (min-width: 480px) {
    .section {
        max-width: 428px;
    }

    .container {
        max-width: 428px;
    }

    /* -----Header----- */



    /* -----Hero----- */

    .hero {
        width: 428px;
        max-width: 428px;
        height: 432px;
        background-image: var(--bg-hero-gradient), url(../images/main/hero-bg-tablet.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: var(--bg-hero-gradient), url(../images/main/hero-bg-tablet-2x.jpg);
        }
    }

    .hero-title {
        width: 318px;
        max-width: 318px;
        height: 80px;
    }

    /* -----Advantages----- */

    /* -----We doing----- */

    /* -----Our Team----- */

    /* -----Customers----- */

    /* -----Footer----- */

    /* -----Header----- */
    .hamburger-tel-link {
        font-size: 33px;
    }
}