@media (min-width: 480px) {
    .section {
        max-width: 428px;
    }

    .container {
        max-width: 428px;
    }

    /* -----Header----- */



    /* -----Hero----- */

    .hero {
        width: 428px;
        max-width: 428px;
        height: 432px;
    }

    .hero-title {
        width: 318px;
        max-width: 318px;
        height: 80px;
    }

    /* -----Advantages----- */

    /* -----We doing----- */

    /* -----Our Team----- */

    /* -----Customers----- */

    /* -----Footer----- */

    /* -----Header----- */
    .hamburger-tel-link {
        font-size: 33px;
    }
}