body {
    font-family: "Roboto", sans-serif;
}

:root {
    /*---NAVY BLUE---*/
    --dark-color: #2e2f42;
    /*---IRIS---*/
    --brand-color: #4d5ae5;
    /*---SLATE---*/
    --text-color: #434455;
    /*---LIGHT-SLATE---*/
    --subtext-color: #8e8f99;
    /*---CLOUD---*/
    --light-color: #f4f4fd;
    /*---CORNFLOWER---*/
    --accent-color: #e7e9fc;
    /*---OCEAN---*/
    --action-color: #404bbf;
    /*---WHITE---*/
    --white-color: #ffffff;
    /*---BLACK---*/
    --black-color: #000000;
    /*---GREEN---*/
    --green-color: #31d0aa;
    /*---MODAL BACKGROUND---*/
    --modal-color: #fcfcfc;
    --bg-hero-gradient: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7));
    --duration: 250ms;
    --bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

.list {
    list-style-type: none;
}

.link {
    font-style: normal;
    text-decoration: none;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    color: currentColor;
    outline: transparent;
    /* transition: color var(--duration) var(--bezier); */
}

.link:not(.nohover):is(:hover, :focus) {
    color: var(--action-color);
}

.btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    border-radius: 4px;
    letter-spacing: 0.04em;
    outline: transparent;
    transition: background-color var(--duration) var(--bezier), box-shadow var(--duration) var(--bezier);
}

.btn:is(:hover, :focus) {
    background-color: var(--action-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.accent {
    color: var(--brand-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    max-width: 100%;
    padding: 96px 0px;
    margin: 0 auto;
}

.container {
    width: 100%;
    max-width: 100%;
    /* height: auto; */
    margin: 0 auto;
    padding: 0 16px;
}

.container.team-container {
    max-width: 296px;
}

.container.customers-container {
    max-width: 428px;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    display: block;
    /* text-align: center; */
    color: var(--dark-color);
    margin: 0 auto 72px;
}

.subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: calc(24 / 20);
    letter-spacing: 0.02em;
    color: var(--dark-color);
    margin-bottom: 8px;
}

.text {
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    white-space: normal;
    color: var(--text-color);
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21 / 18);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    /* visibility: hidden; */
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

/* -----Header----- */

.header-section {
    border-bottom: 1px solid var(--accent-color);
    padding: 24px 0;
}

.header-container {
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    /* outline: 2px solid red; */
}

.header-logo {
    color: currentColor;
    text-decoration: none;
    margin-right: 77px;
}

.hamburger-btn {
    width: 32px;
    height: 22px;
    border: none;
    outline: transparent;
    padding: 0;
}

.hamburger-close-btn {
    position: absolute;
    right: 40px;
    top: 40px;
    width: 24px;
    height: 24px;
    background-color: var(--accent-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color var(--duration) var(--bezier);
}

.hamburger-icon {
    width: 32px;
    height: 22px;
    stroke: var(--dark-color);
}

.hamburger-menu>.hamburger-menu-container {
    height: 100%;
    max-width: 328px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    margin: 0 auto;
    ;
}

.hamburger-menu {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--white-color);
    padding: 80px 40px 40px;
}

.hamburger-menu-list {}

.hamburger-nav-item:not(:last-child) {
    margin-bottom: 40px;
}

.hamburger-link {
    font-weight: 700;
    font-size: 24px;
    line-height: calc(40 / 36);
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-color);
}

.hamburger-address {}

.hamburger-address-list {}

.hamburger-address-item {
    margin-bottom: 40px;
}

.hamburger-tel-link {
    font-weight: 600;
    /* font-size: 24px; */
    font-size: calc((100vw - 320px) / (480 - 320) * (33 - 24) + 24px);
    line-height: calc(40 / 33);
    text-transform: capitalize;
    color: var(--brand-color);
}

.hamburger-address-link {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.hamburger-soc-list {
    max-width: 400px;
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.nav-list {
    display: none;
}

.address {
    display: none;
}

/* -----Footer----- */

.footer-section {
    padding: 96px 0px;
    background-color: var(--dark-color);
}

.footer-columns {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    justify-content: center;
    /* align-items: baseline; */
}

.footer-text {
    width: 264px;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    white-space: normal;
    color: var(--accent-color);
}

.footer-logo {
    color: var(--light-color);
    line-height: calc(22 / 18);
    display: block;
    margin-bottom: 16px;
    text-align: center;
}

.footer-social-media {
    font-weight: 500;
    color: var(--white-color);
    margin-bottom: 16px;
    text-align: center;
}

.footer-soc-list {
    display: flex;
    gap: 16px;
}

.footer-soc-item {
    display: flex;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.footer-soc-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color var(--duration) var(--bezier);
}

.footer-soc-link:is(:hover, :focus) {
    background-color: var(--green-color);
}

.footer-soc-icon {
    width: 24px;
    height: 24px;
    fill: var(--light-color);
}

.subscribe-form {
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 24px;
    justify-content: center;
}

.subscribe-text {
    font-weight: 500;
    display: block;
    color: var(--white-color);
    margin-bottom: 16px;
    text-align: center;
}

.subscribe-btn {
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    color: var(--white-color);
    background-color: var(--brand-color);
    border: 0;
    transition: background-color var(--duration) var(--bezier);
}

.subscribe-send-icon {
    width: 24px;
    height: 24px;
    fill: var(--white-color);
}

.email-input {
    width: 100%;
    height: 40px;
    padding: 8px 16px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: transparent;
    transition: border-color var(--duration) var(--bezier), color var(--duration) var(--bezier);
}

.email-input::placeholder {
    font-weight: normal;
    font-size: 12px;
    line-height: calc(24 / 12);
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    width: 36px;
    height: 24px;
}

.email-input:focus {
    border-color: var(--brand-color);
    color: var(--brand-color);
}

/* -----Hero----- */

.hero {
    width: 100%;
    height: auto;
    padding: 112px 0px;
    background-color: var(--dark-color);
    text-align: center;
    background-image: var(--bg-hero-gradient), url(../images/main/hero-bg-mobile.jpg);
    background-repeat: no-repeat;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: var(--bg-hero-gradient), url(../images/main/hero-bg-mobile-2x.jpg);
    }
}

.hero-title {
    max-width: 100%;
    height: auto;
    font-weight: 700;
    font-size: 35px;
    line-height: calc(40 / 35);
    letter-spacing: 0.02em;
    text-align: center;
    white-space: normal;
    color: var(--white-color);
    display: block;
    margin: 0px auto 72px;
}

.hero-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    letter-spacing: 0.03em;
    border: 0;
    padding: 16px 32px;
    width: 100%;
    max-width: 169px;
    height: auto;
    margin: 0 auto;
    background-color: var(--brand-color);
    color: var(--white-color);
    transition: background-color var(--duration) var(--bezier);
}

.hero-btn:is(:hover, :focus) {
    background-color: var(--action-color);
}

/* -----Advantages----- */

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
}

.advantages-item {
    width: 100%;
}

.advantages-image {
    display: none;
}

.advantages-icon {
    width: 64px;
    height: 64px;
    fill: var(--dark-color);
}

.advantages-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    letter-spacing: 0.02em;
    color: var(--dark-color);
    margin-bottom: 8px;
    text-align: center;
}

.advantages-text {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    white-space: normal;
    color: var(--text-color);
}

/* -----We doing----- */


.we-doing {
    display: none;
}


/* -----Our Team----- */

.team {
    background-color: var(--light-color);
    padding-bottom: 128px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
}

.team-item {
    width: 100%;
}

.team-content {
    padding: 32px 16px;
    background-color: var(--white-color);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 /20);
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-text {
    margin-bottom: 8px;
}

.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-soc-link {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--brand-color);
    border-radius: 50%;
    transition: background-color var(--duration) var(--bezier);
}

.team-soc-link:is(:hover, :focus) {
    background-color: var(--action-color);
}

.team-soc-icon {
    width: 16px;
    height: 16px;
    fill: var(--light-color);
}

/* -----Gallery----- */

.gallery {
    padding-top: 96px;
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 24px;
    row-gap: 48px;
}

.gallery-item {
    width: calc((100% - 48px) / 3);
}

.gallery-link {
    display: inline-block;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    transition: box-shadow var(--duration) var(--bezier);
}

.gallery-link:is(:hover, :focus) {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.thumb {
    position: relative;
    width: 360px;
    height: 300px;
    background-color: #fff;
    overflow: hidden;
}

.gallery-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--brand-color);
    transform: translateY(100%);
    transition: transform var(--duration) var(--bezier);
}

.gallery-overlay>p {
    color: var(--light-color);
    padding: 40px 32px;
    width: 100%;
    height: 100%;
}

.gallery-item:hover .gallery-overlay {
    transform: translateY(0);
}

.gallery-link:focus .gallery-overlay {
    transform: translateY(0);
}

.gallery-content {
    padding: 32px 16px;
    border: 0.5px solid var(--light-color);
    border-top: 0;
}

.filter-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.filter-btn {
    background-color: var(--light-color);
    border: 1px solid var(--accent-color);
    color: var(--brand-color);
    padding: 12px 24px;
    transition: color var(--duration) var(--bezier), background-color var(--duration) var(--bezier), border-color var(--duration) var(--bezier), box-shadow var(--duration) var(--bezier);
}

.filter-btn:is(:hover, :focus) {
    color: var(--white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-color: var(--action-color);
}

/* -----Customers----- */

.customers-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 16px;
}

.customers-item {
    width: calc((100% - 16px) / 2);
    height: 88px;
}

.customers-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--subtext-color);
    border-radius: 4px;
    fill: var(--subtext-color);
    transition: border-color var(--duration) var(--bezier), fill var(--duration) var(--bezier);
}

.customers-icon {
    width: 110px;
    height: 56px;
}

.customers-link:is(:hover, :focus) {
    fill: var(--action-color);
    border-color: var(--action-color);
}

/*-----Modal window-----*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity var(--duration) var(--bezier), visibility var(--duration) var(--bezier);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    height: 584px;
    padding: 72px 24px 24px;
    background-color: var(--modal-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform var(--duration) var(--bezier);
}

.modal-head {
    font-weight: 500;
    text-align: center;
    margin-bottom: 14px;
    color: var(--dark-color);
}

.modal-label span {
    font-weight: normal;
    height: 14px;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.04em;
    color: var(--subtext-color);
    margin-bottom: 4px;
    display: block;
}

.modal-item {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 14px 19px 14px 38px;
    margin-bottom: 8px;
    outline: transparent;
    transition: border-color var(--duration) var(--bezier), color var(--duration) var(--bezier);
}

.modal-item:focus {
    border-color: var(--brand-color);
    color: var(--brand-color);
}

.modal-item:focus+.modal-icon {
    fill: var(--brand-color);
}

.input-wrap {
    position: relative;
}

.modal-icon {
    position: absolute;
    left: 19px;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--dark-color);
    transition: fill var(--duration) var(--bezier);
}

.comment-area {
    font-family: inherit;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.04em;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 8px 16px;
    margin-bottom: 16px;
    outline: transparent;
    transition: border-color var(--duration) var(--bezier),
        color var(--duration) var(--bezier);
}

.comment-area:focus {
    border-color: var(--brand-color);
    color: var(--brand-color);
}

.modal-policy {
    margin-bottom: 16px;
}

.check-text {
    display: flex;
    width: 100%;
    height: 100%;
    font-weight: normal;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.04em;
    color: var(--subtext-color);
    outline: transparent;
}

.check-text span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1.25px solid var(--dark-color);
    border-radius: 2px;
    margin-right: 8px;
    fill: transparent;
}

.modal-check:checked+.check-text span {
    background-color: var(--action-color);
    border: none;
    fill: var(--light-color);
}

.modal-btn {
    width: 169px;
    height: 56px;
    background-color: var(--brand-color);
    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0;
    border-radius: 4px;
    color: var(--white-color);
    margin: 0 auto;
    display: block;
}

.close-btn {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    background-color: var(--accent-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color var(--duration) var(--bezier);
}

.close-icon {
    width: 8px;
    height: 8px;
    fill: var(--black-color);
    transition: fill var(--duration) var(--bezier);
}

.close-btn:is(:hover, :focus) {
    box-shadow: none;
    border-color: var(--accent-color);
}

.close-btn:is(:hover, :focus) .close-icon {
    fill: var(--white-color);
}