@media screen and (min-width: 768px) {
    .section {
        max-width: 768px;
        /* padding: 120px 0px; */
    }

    .container {
        max-width: 768px;
    }

    .container.team-container {
        max-width: 584px;
    }

    .container.customers-container {
        max-width: 584px;
    }

    /* -----Header----- */

    .header-section {
        max-width: 768px;
        padding-bottom: 0;
        margin: 0 auto;
        border: 0;
    }

    .header-logo {
        margin-right: 123px;
    }

    .hamburger-btn {
        display: none;
    }

    .nav-list {
        display: flex;
        gap: 40px;
        margin-right: 118px;
    }

    .nav-link {
        font-weight: 600;
        color: var(--dark-color);
        display: block;
        padding-bottom: 22px;
        transition: color var(--duration) var(--bezier);
    }

    .underline {
        position: relative;
    }

    .underline::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        bottom: -1px;
        left: 0;
        border-radius: 2px;
        background-color: var(--action-color);
    }

    .address {
        display: block;
        margin-left: auto;
    }

    .address-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 4px;
        margin-left: auto;
        justify-content: end;
    }

    .address-link {
        font-size: 12px;
        line-height: calc(16 / 12);
        letter-spacing: 0.04em;
        color: var(--text-color);
        transition: color var(--duration) var(--bezier);
    }

    /* -----Hero----- */

    .hero {
        width: 768px;
        max-width: 768px;
        height: 436px;
        padding-bottom: 108px;
        background-image: var(--bg-hero-gradient), url(../images/main/hero-bg-desktop.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: var(--bg-hero-gradient), url(../images/main/hero-bg-desktop-2x.jpg);
        }
    }

    .hero-title {
        width: 494px;
        max-width: 494px;
        height: 120px;
        font-size: 55px;
        line-height: calc(60 / 55);
        margin-bottom: 40px;
    }

    /* -----Advantages----- */

    .advantages-item {
        width: calc((100% - 24px) / 2);
    }

    /* -----We doing----- */

    /* -----Our Team----- */

    .team {
        padding-bottom: 104px;
    }

    .team-list {
        row-gap: 64px;
    }

    .team-item {
        width: calc((100% - 24px) / 2);
        /* width: 100%; */
    }

    /* -----Customers----- */
    .customers-list {
        column-gap: 24px;
    }

    .customers-item {
        width: calc((100% - 48px) / 3);
    }

    .customers-icon {
        width: 104px;
    }

    /* -----Footer----- */

    .footer-columns {
        max-width: 584px;
        justify-content: start;
    }

    .footer-logo {
        text-align: start;
    }

    .footer-social-media {
        text-align: start;
    }

    .subscribe-form {
        flex-direction: row;
        /* gap: 24px; */
        align-items: flex-end;
        flex-wrap: nowrap;
    }

    .subscribe-text {
        text-align: start;
    }

    .email-input {
        width: 264px;
    }


}